POSTGRES_USER=leanguard_admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=mlflow
POSTGRES_PORT=5432

MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://localhost:${MLFLOW_PORT}

CARLA_HOST=localhost
CARLA_PORT=2000
CARLA_ROOT=/opt/carla-simulator
